<div class="container">
	<div class="row">
		<div class="col-md-12">
			<nav class="clearfix">
				<h1 class="logo lnky"><a href="/">LNKY</a></h1>
				<div class="btn-group">
					<a class="login-btn" href="/login">LOGIN</a>
					<a class="reg-btn" href="/register">REGISTER</a>
				</div>
			</nav>
		</div>
	</div>
</div>